<ng-container *ngIf="currencies?.length > 0">

    <form clrForm [formGroup]="accountForm" (ngSubmit)="onSubmit()" #formRef="ngForm">
        <input clrInput placeholder="Account name" formControlName="name" />
        
        <clr-select-container>
            <label>Select a currency</label>
            <select clrSelect formControlName="currency">
              <option *ngFor="let currency of currencies" [value]="currency.id">{{currency.shortName}}</option>
            </select>
          </clr-select-container>
        
        <button [disabled]="!accountForm.valid" class="btn btn-primary" type="submit">Submit</button>
        <!-- <button class="btn" type="button" (click)="resetForm()">Reset</button> -->
    </form>
</ng-container>

<div *ngIf="currencies?.length === 0">Loading currencies for the form.</div>



