
<button type="button" [routerLink]="['/accounts/add']" class="btn btn-icon btn-primary">
  <clr-icon shape="add"></clr-icon>
  Add
</button>

<ng-container *ngIf="accounts?.length > 0">
  <clr-datagrid>
    <clr-dg-column>Name</clr-dg-column>
    <clr-dg-column>Balance</clr-dg-column>
    <clr-dg-column>Transaction Count</clr-dg-column>
    <clr-dg-column>Currency</clr-dg-column>
    <clr-dg-column>Date</clr-dg-column>
    <clr-dg-column>Delete</clr-dg-column>

    <clr-dg-row *ngFor="let account of accounts">
        <clr-dg-cell (click)="goToAccountDetails(account.id)">{{account.name}}</clr-dg-cell>
        <clr-dg-cell>{{account.balance}}</clr-dg-cell>
        <clr-dg-cell>{{account.transactionCount}}</clr-dg-cell>
        <clr-dg-cell>{{account?.currency.shortName}}</clr-dg-cell>
        <clr-dg-cell>{{account.createdOn | date}}</clr-dg-cell>
        <clr-dg-cell>
          <button (click)="deleteAccount(account.id)" type="button" class="btn btn-icon btn-danger">
          <clr-icon shape="delete"></clr-icon>
        </button>
      </clr-dg-cell>
      </clr-dg-row>

    <clr-dg-footer>{{accounts.length}} accounts</clr-dg-footer>
  </clr-datagrid>
</ng-container>