<ng-container *ngIf="accounts?.length > 0">

    <form 
    clrForm 
    clrLabelSize="12"
    clrLayout="vertical"
    [formGroup]="transactionForm" (ngSubmit)="onSubmit()" #formRef="ngForm">
      <clr-input-container>

        <label>New Transaction</label>
        <input clrInput placeholder="Transaction name" formControlName="name" />
      </clr-input-container>
        
        <clr-radio-wrapper>
            <input type="radio" clrRadio value="0" [checked]="transactionForm.value.type === 0" formControlName="type" />
            <label>Expense</label>
          </clr-radio-wrapper>
          <clr-radio-wrapper>
            <input type="radio" clrRadio value="1" [checked]="transactionForm.value.type === 1" formControlName="type"/>
            <label>Income</label>
        </clr-radio-wrapper>

        <input clrInput type="number" step="0.01" placeholder="Total" formControlName="total" />

        <clr-select-container>
            <label>Select an account</label>
            <select clrSelect formControlName="account">
              <option *ngFor="let account of accounts" [value]="account.id">{{account.name}}</option>
            </select>
          </clr-select-container>
        
          <clr-select-container>
            <label>Select a category</label>
            <select clrSelect formControlName="category">
              <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
            </select>
          </clr-select-container>

            <input matInput [matDatepicker]="myDatepicker" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
         
            <button class="btn btn-primary" (click)="getLocation()" type="button">Add location</button>
            <div id="mapid"></div>

        <button [disabled]="!transactionForm.valid" class="btn btn-primary" type="submit">Submit</button>
        <!-- <button class="btn" type="button" (click)="resetForm()">Reset</button> -->
    </form>
</ng-container>