<mat-list class="list-horizontal" *ngIf="isAuthenticated | async">
    <mat-list-item>
      <a mat-raised-button [routerLink]='["/authentication/profile"]' title="Manage">Hello {{ userName | async }}</a>
    </mat-list-item>
    <mat-list-item>
      <a mat-raised-button [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Logout">Logout</a>
    </mat-list-item>
</mat-list>

<mat-list class="list-horizontal" *ngIf="!(isAuthenticated | async)">
    <mat-list-item>
      <a mat-raised-button [routerLink]='["/authentication/register"]'>Register</a>
    </mat-list-item>
    <mat-list-item>
      <a mat-raised-button [routerLink]='["/authentication/login"]'>Login</a>
    </mat-list-item>
</mat-list>