<ng-container *ngIf="isAuthenticated | async">

  <a [routerLink]='["/authentication/profile"]' class="nav-link nav-icon-text" title="Manage">
    <clr-icon shape="user"></clr-icon>
    <span class="nav-text">{{ userName | async }}</span>
  </a>
  <a [routerLink]='["/authentication/logout"]'  [state]='{ local: true }' class="nav-link nav-text" title="Logout">
    Log Out 
  </a>
</ng-container>

<ng-container *ngIf="!(isAuthenticated | async)">
      <a [routerLink]='["/authentication/register"]'class="nav-link nav-text" >Register</a>
      <a [routerLink]='["/authentication/login"]' class="nav-link nav-text">Login</a>
</ng-container>