<button type="button" [routerLink]="['add']" class="btn btn-icon btn-primary">
  <clr-icon shape="add"></clr-icon>
  Add
</button>

<form 
    clrForm 
    [formGroup]="transactionForm">
    <clr-radio-wrapper>
        <input type="radio" clrRadio value="0" [checked]="transactionForm.value.type === 0" formControlName="type" />
        <label>Expense</label>
      </clr-radio-wrapper>
      <clr-radio-wrapper>
        <input type="radio" clrRadio value="1" [checked]="transactionForm.value.type === 1" formControlName="type"/>
        <label>Income</label>
    </clr-radio-wrapper>
</form>


<ng-container *ngIf="transactions?.length > 0">
  <transactions-per-day-chart [transactions]="transactions" [type]="transactionForm.value.type"></transactions-per-day-chart>
  <clr-datagrid>
    <clr-dg-column>Name</clr-dg-column>
    <clr-dg-column>Total</clr-dg-column>
    <clr-dg-column>Category</clr-dg-column>
    <clr-dg-column>Date</clr-dg-column>
    <clr-dg-column>Type</clr-dg-column>
    <clr-dg-column>Coords</clr-dg-column>
    <clr-dg-column>Tags</clr-dg-column>
    <clr-dg-column>Delete</clr-dg-column>

    <clr-dg-row *ngFor="let transaction of transactions">
        <clr-dg-cell>{{transaction.name}}</clr-dg-cell>
        <clr-dg-cell>{{transaction.total}}</clr-dg-cell>
        <clr-dg-cell>{{transaction.category?.name}}</clr-dg-cell>
        <clr-dg-cell>{{transaction.date}}</clr-dg-cell>
        <clr-dg-cell>{{transaction.transactionType}}</clr-dg-cell>
        <clr-dg-cell>{{transaction.latitude}}, {{transaction.longitude}}</clr-dg-cell>
        <clr-dg-cell><span *ngFor="let tag of transaction.tags">
          #{{tag}} </span></clr-dg-cell>
        <clr-dg-cell>
          <button (click)="deleteTransaction(transaction.id)" type="button" class="btn btn-icon btn-danger">
          <clr-icon shape="delete"></clr-icon>
        </button>
      </clr-dg-cell>
      </clr-dg-row>

    <clr-dg-footer>{{transactions.length}} transactions</clr-dg-footer>
  </clr-datagrid>
</ng-container>