<clr-header class="header header-6">

  <div class="branding">
    <a [routerLink]="['/']" class="nav-link">
      <clr-icon shape="wallet"></clr-icon>
      <span class="title">Home Accountant</span>
   </a>
  </div>
<div class="header-nav" [clr-nav-level]="1" *ngIf="isAuthenticated | async">
    <a class="nav-link nav-text" [routerLinkActive]="['link-active']" [routerLink]="['/accounts']">Accounts</a>
    <a class="nav-link nav-text" [routerLinkActive]="['link-active']" [routerLink]="['/categories']">Categories</a>
    <a class="nav-link nav-text" [routerLinkActive]="['link-active']" [routerLink]="['/transactions']">Transactions</a>
    <a class="nav-link nav-text" [routerLinkActive]="['link-active']" [routerLink]="['/accounts/invites']">Invites</a>
   
  </div>
  <button class="btn btn-primary" (click)="connect()">Submit</button>
<div class="header-actions">
  <app-login-menu></app-login-menu>        
</div>
</clr-header>